Repository openshift/multiarch-tuning-operator: changes, and which Prow jobs are due for each by the changed paths.
All: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

fmt:
  cluster: build10
  commands: NO_DOCKER=1 make fmt && make verify-diff
  container:
    from: src

vet:
  cluster: build10
  commands: NO_DOCKER=1 make vet && make verify-diff
  container:
    from: src

vendor:
  cluster: build10
  commands: NO_DOCKER=1 make vendor && make verify-diff
  container:
    from: src

goimports:
  cluster: build10
  commands: NO_DOCKER=1 make goimports && make verify-diff
  container:
    from: src

lint:
  cluster: build10
  commands: NO_DOCKER=1 make lint && make verify-diff
  container:
    from: src

sast:
  cluster: build10
  commands: NO_DOCKER=1 make gosec && make verify-diff
  container:
    from: src

manifests:
  cluster: build10
  commands: NO_DOCKER=1 make manifests && make verify-diff
  container:
    from: src

generate:
  cluster: build10
  commands: NO_DOCKER=1 make generate && make verify-diff
  container:
    from: src

unit:
  cluster: build10
  commands: NO_DOCKER=1 make unit
  container:
    from: src

security:
  cluster: build10
  optional: true
  steps:
    env:
      PROJECT_NAME: multiarch-tuning-operator
    workflow: openshift-ci-security

bundle:
  cluster: build10
  commands: unset VERSION; NO_DOCKER=1 make bundle-verify
  container:
    from: operator-sdk-mto

e2e-gcp-4-16:
  cluster: build10
  steps:
    cluster_profile: gcp
    dependencies:
      OPENSHIFT_INSTALL_RELEASE_IMAGE_OVERRIDE: release:multi-4-16
      OPERATOR_IMAGE: pipeline:multiarch-tuning-operator
    env:
      ADDITIONAL_WORKER_ARCHITECTURE: x86_64
      ADDITIONAL_WORKER_VM_TYPE: n2-standard-4
  ...

e2e-gcp-4-17:
  always_run: false
  cluster: build10
  optional: true
  steps:
    cluster_profile: gcp
    dependencies:
      OPENSHIFT_INSTALL_RELEASE_IMAGE_OVERRIDE: release:multi-4-17
      OPERATOR_IMAGE: pipeline:multiarch-tuning-operator
    env:
      ADDITIONAL_WORKER_ARCHITECTURE: x86_64
  ...

e2e-gcp-4-18:
  cluster: build10
  steps:
    cluster_profile: gcp
    dependencies:
      OPENSHIFT_INSTALL_RELEASE_IMAGE_OVERRIDE: release:multi-4-18
      OPERATOR_IMAGE: pipeline:multiarch-tuning-operator
    env:
      ADDITIONAL_WORKER_ARCHITECTURE: x86_64
      ADDITIONAL_WORKER_VM_TYPE: n2-standard-4
  ...

e2e-aws-ovn-mto-origin-4-16-post:
  cluster: build10
  postsubmit: true
  steps:
    cluster_profile: aws
    dependencies:
      OPENSHIFT_INSTALL_RELEASE_IMAGE_OVERRIDE: release:multi-4-16
    env:
      ADDITIONAL_WORKER_ARCHITECTURE: x86_64
      ADDITIONAL_WORKER_VM_TYPE: m6i.xlarge
      ADDITIONAL_WORKERS: '1'
      COMPUTE_NODE_REPLICAS: '2'
  ...

e2e-aws-ovn-mto-origin-4-17-post:
  cluster: build10
  postsubmit: true
  steps:
    cluster_profile: aws
    dependencies:
      OPENSHIFT_INSTALL_RELEASE_IMAGE_OVERRIDE: release:multi-4-17
    env:
      ADDITIONAL_WORKER_ARCHITECTURE: x86_64
      ADDITIONAL_WORKER_VM_TYPE: m6i.xlarge
      ADDITIONAL_WORKERS: '1'
      COMPUTE_NODE_REPLICAS: '2'
  ...

OCPBUGS-42240: Refine security context
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/operator/objects.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Update multiarch-tuning-operator to f54c332
  bundle.konflux.Dockerfile
Due: bundle, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

MULTIARCH-5000: Refine log levels
  apis/multiarch/common/verbositylevel.go
  controllers/operator/clusterpodplacementconfig_controller.go
  controllers/podplacement/image_config.go
  controllers/podplacement/pod_model.go
  controllers/podplacement/pod_reconciler.go
  controllers/podplacement/scheduling_gate_mutating_webhook.go
  main.go
  pkg/image/inspector.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

fix path env variable in deploy-and-e2e.sh
  hack/deploy-and-e2e.sh
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

add WaitForMCPComplete in AfterSuite
  pkg/e2e/podplacement/e2e_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Run the integration tests in Konflux as gating for the release
  .tekton/multiarch-tuning-operator-integration-tests.yaml
Due: none

MULTIARCH-4782: Reactivate cache and use a safe key
  pkg/image/cache.go
  pkg/image/facade.go
  pkg/image/inspector.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

MULTIARCH-4782: Add testing
  controllers/podplacement/pod_reconciler_test.go
  pkg/image/cache.go
  pkg/testing/image/fake/cache.go
  pkg/testing/image/fake/facade.go
  pkg/testing/image/fake/registry/mock_image.go
  pkg/testing/image/fake/registry/seed.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Debug info when the deployment of the operator fails
  hack/deploy-and-e2e.sh
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Minor fix
  hack/deploy-and-e2e.sh
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Increase timeout
  hack/ci-test.sh
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Fix bundle image inspection
  hack/deploy-and-e2e.sh
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

MULTIARCH-4285: Implement cache eviction policy
  go.mod
  pkg/image/cache.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

MULTIARCH-4285: Add imports for cache eviction policy
  vendor/github.com/hashicorp/golang-lru/v2/expirable/expirable_lru.go
  vendor/modules.txt
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

MULTIARCH-4285: expose cache size as a prometheus gauge and histogram.
  controllers/podplacement/metrics/common_metrics.go
  controllers/podplacement/metrics/controller.go
  controllers/podplacement/metrics/utils.go
  controllers/podplacement/metrics/webhook.go
  controllers/podplacement/pod_model.go
  controllers/podplacement/pod_reconciler.go
  controllers/podplacement/scheduling_gate_mutating_webhook.go
  pkg/image/cache.go
  pkg/image/metrics/common_metrics.go
  pkg/utils/utils.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Alerts for the ClusterPodPlacementConfigs degraded conditions
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/operator/clusterpodplacementconfig_controller.go
  controllers/operator/objects.go
  docs/alerts/pod-placement-controller-down.md
  docs/alerts/pod-placement-webhook-down.md
  pkg/utils/resource.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Update multiarch-tuning-operator to 6b0d95f
  bundle.konflux.Dockerfile
Due: bundle, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

MULTIARCH-5029: Explicitly set AutomountServiceAccountToken in pod specs and disable it by default in the service account specs
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/operator/objects.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

MULTIARCH-5023: Refine mem file for auth
  pkg/image/inspector.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Update multiarch-tuning-operator to 5105d16
  bundle.konflux.Dockerfile
Due: bundle, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Debug image stream tag in case of failures
  hack/deploy-and-e2e.sh
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Revert 8928d81e5d: Extract the single-arch manifest from the bundle to allow extraction on arm64 nodes
  hack/deploy-and-e2e.sh
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

[MINOR] Fix copied/pasted comment on Makefile
  Makefile
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

MULTIARCH-4965: Upadate tekton branch name to v1.0
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

Update multiarch-tuning-operator-1-0 to 5310489
  bundle.konflux.Dockerfile
Due: bundle, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

MULTIARCH-4965: snapshots multiarch-tuning-operator-1-0-jwfr7
  catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

MULTIARCH-4965: rerender the 0.9 bundle
  catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Update multiarch-tuning-operator-1-0 to 97ed8fd
  bundle.konflux.Dockerfile
Due: bundle, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

rerender the 0.9 bundle using registry.redhat.io/openshift4/ose-operator-registry:v4.13 as olm.csv.metadata is not valid
  catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

rerender the 1.0 bundle using registry.redhat.io/openshift4/ose-operator-registry:v4.13 as olm.csv.metadata is not valid
  catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Added documentation
  docs/ocp-release.md
Due: none

Add fix for e2e running in cluster-wide proxy based cluster
  pkg/testing/builder/configmap_builder.go
  pkg/testing/builder/volume_builder.go
  pkg/testing/builder/volume_mount_builder.go
  pkg/testing/registry/registry.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Update multiarch-tuning-operator to a5b67cc
  bundle.konflux.Dockerfile
Due: bundle, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Move deploy subscription channel to stable
  deploy/base/operators.coreos.com/subscriptions/openshift-multiarch-tuning-operator/subscription.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Add 1.0 mirror in the ImageDigestMirrorSet
  deploy/base/config.openshift.io/imagedistedmirrorsets/multiarch-tuning-operator-fbc-staging/imagedigestmirrorset.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Fix bundle tests
  controllers/podplacement/pod_reconciler_test.go
  pkg/testing/image/fake/registry/mock_image.go
  pkg/testing/image/fake/registry/seed.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, e2e-gcp-4-16, e2e-gcp-4-17, e2e-gcp-4-18, e2e-aws-ovn-mto-origin-4-16-post, e2e-aws-ovn-mto-origin-4-17-post, e2e-aws-ovn-mto-origin-4-18-post

Path conditions:
  fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  e2e-gcp-4-16: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  e2e-gcp-4-17: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  e2e-gcp-4-18: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  e2e-aws-ovn-mto-origin-4-16-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  e2e-aws-ovn-mto-origin-4-17-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  e2e-aws-ovn-mto-origin-4-18-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
